#food{
    width: 100vw;
    height:290vh;
    background-color: rgb(239, 233, 224);
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; 
}

.menucard {
    text-align: center;
    background-color: rgb(225, 220, 213);
 
}

.venueimg {
    transition: transform 0.3s ease; 
    transform: scale(1.0);
}
.venueimg:hover {
    transform: scale(1.1);
}

.menucard .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 2rem; 
    font-weight: bold; 
    text-align: center; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.menucard:hover .overlay-text {
    opacity: 2; 
}
